body{
background-color: white;
}

#kio{
style: italic-bold;
color: maroon;
}

#h1.#bt{
color: navy-blue;
margin: center;
font-size: 10pt;
}

#p1{
color: navy-blue;
margin: center;
font-size: 10pt
}
